h3 Results
table.table.table-striped
    thead
        tr
            th Name
            th Genre
            th Popularity

    tbody
        each artist in data.artists.items
            tr
                td
                    a(href="#" onClick='tracks.findTopTen("' + artist.id + '")')
                        = artist.name
                td
                    each genre in artist.genres
                        = genre +','
                td= artist.popularity


