h3 Results
table.table.table-striped
    thead
        tr
            th Name
            th Genres
            th Popularity

    tbody
        each artist in data
            tr
                td
                    img(width='200' src= artist.items.image[0].url)
                    = artist.items.name
                td 
                    each genre in artist.items.genre
                        = genre +','
                td= artist.items.popularity

