h5 Search
.row
    .col-md-8
        .form-group.form-group-default

            label Artist           
            input#artist.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='artists.searchByName($("#artist").val())') Search

h5 Example Artists
ul
    li
        a(href="#" onClick='artists.searchByName("Edvard Grieg")') Edvard Grieg

