h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Search            
            input#search-name.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='artists.searchByName($("#search-name").val())') Search


h5 Search Artists Name
ul
    li
        a(href="#" onClick='artists.searchByName("Tania Bowra")') Tania Bowra

